.header {
    @media screen and (min-width: $desktop-small) {
        position: absolute;
        top: 0; left: 30px;
        height: 100vh;
        padding-top: 15px;
        border-left: 2px solid $maincolor;
    }
    &__logo {
        display: block;
        @media screen and (min-width: $desktop-small) {
            position: relative;
            left: -25px;
            width: 380px;
            height: auto;
            margin-bottom: 12vh;
        }
    }
}